<<footer id="footer">
        <div class="inner">
            <ul class="icons">
                <!--TODO: link to github-->
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <!--TODO: link to email -->
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; sickOfOurCodes!</li>
                <li>Design: cool coders club.</a></li>
            </ul>
        </div>
    </footer>

{{}}>