<head>
  <link rel="stylesheet" href="./assets/css/form.css">
</head>

<div class="form-style-2">
  <div class="form-style-2-heading">Provide Your Budget for Today's Adventure</div>
    <form action="" method="post">
      <label for="field1"><span>Activity <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
      <label for="field2"><span>Category</span><select name="field2" class="select-field"></select>
      <br><br>
      <label for="field3"><span>Amount <span class="required">*</span></span><input type="number" class="input-field" name="field3" value="" /></label>
      <span></span>
      <span></span>

      <label><span> </span><input type="submit" value="Submit" /></label>
    </form>
  </div>
</div>