<head>
  <link rel="stylesheet" href="./assets/css/form.css">
</head>

<div class="form-style-2">
<div class="form-style-2-heading">Provide Your Budget for the Entire Trip</div>
<form action="" method="post">
<label for="field1"><span>Category <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
<label for="field2"><span>Amount <span class="required">*</span></span><input type="number" class="input-field" name="field2" value="" /></label>


<label><span> </span><input type="submit" value="Submit" /></label>
</form>
</div>