<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="A group travel planner, so you and your group are all on the same page!"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--style reset links -->
    <link rel="reset" href="/assets/css/reset.css" />
    <!--font links -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <!--navbar begins here-->
    <div class="navwrapper w3-top">
      <div class="w3-bar " id="myNavbar">
        <div class="selector w3-right w3-hide-small">
          <a href="/" class="active w3-bar-item w3-button"><i
              class="uil uil-estate"
            ></i>Home</a>
          <a href="/about" class="active w3-bar-item w3-button"><i
              class="uil uil-users-alt"
            ></i>About</a>
          <a href="/faq" class="active w3-bar-item w3-button"><i
              class="uil uil-comment-alt-notes"
            ></i>FAQ</a>
          <a href="/login" class="active w3-bar-item w3-button" id="logBtn"><i
              class="uil uil-sign-in-alt"
            ></i>Log In</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a
          href="javascript:void(0)"
          class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
          onclick="w3_open()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav
      class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
      style="display:none"
      id="mySidebar"
    >
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-bar-item w3-button w3-large w3-padding-16"
      >Close ×</a>
      <a
        href="/about"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
      >About</a>
      <a href="/faq" onclick="w3_close()" class="w3-bar-item w3-button">Faq</a>
      <a
        href="/login"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
      >Login</a>
    </nav>


    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Our Vacation</h3>

        <p class="footer-links">
          <a href="/">Home</a>
          ·
          <a href="/about">About</a>
          ·
          <a href="/faq">Faq</a>
          ·
          <a href="/signup">Sign-up</a>
          ·
          <a href="/login">Login</a>

        </p>

        <p class="footer-company-name">Travel Planner © 2023</p>

      </div>

    </footer>

    <!--script tag for navbar -->
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>

</html>