<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">About Us</h1>
      <p class="lead text-muted">Welcome to our Group Travel Planner! We were inspired by our love of travelling to
        create an app that will help budget and plan your next vacation! Our app features an interactive calendar that
        will show your individual or group plans to make planning easier! Sign up now!</p>
    </div>
  </div>
</section>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="container">

      <!-- Four cards per row -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <div class="card shadow-sm">
            <a href="https://www.github.com/ema1970">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>
              <div class="card-body">
                <p class="card-text">Hi! I'm Eileen and I ...</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="https://github.com/japchhina">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>
              <div class="card-body">
                <p class="card-text">Hi! I'm Jap and I...</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="https://github.com/wangbrian26">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>
              <div class="card-body">
                <p class="card-text">Hi! I'm Brian and I...</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href="https://github.com/kevintran87">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>
              <div class="card-body">
                <p class="card-text">Hi! I'm Kevin and I...</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>