{{!-- <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">About Us</h1>
      <p class="lead text-muted">Welcome to our Group Travel Planner! We were inspired by our love of travelling to
        create an app that will help budget and plan your next vacation! Our app features an interactive calendar that
        will show your individual or group plans to make planning easier! Sign up now!</p>
    </div>
  </div>
</section> --}}


 <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            
            <h1 style="font-family:garamond;font-size:600%;">About Us</h1>
            
            <p style="font-family:garamond;font-size:170%;"> Welcome to our Group Travel Planner! We were inspired by our love of travelling to create an app that will help budget and plan your next vacation! Our app features an interactive calendar that will show your individual or group plans to make planning easier! Sign up now!</p>
            

          </div>
        </div>
      </section>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="container">

      <!-- Four cards per row -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <div class="card shadow-sm">
            <a href="https://www.github.com/ema1970">
              <img class="card-img-top" src="https://farm66.staticflickr.com/65535/52609529704_fc590e2fc4_m.jpg">
              
              <div class="card-body">
                <p class="card-text">Hi! I'm Eileen and I ...</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="https://github.com/japchhina">
              
              <img class="card-img-top" src="https://farm66.staticflickr.com/65535/52611270334_089ced42c5_m.jpg">
              <div class="card-body">
                <p class="card-text">Hi! I'm Jap and I...</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="https://github.com/wangbrian26">
              
              <img class="card-img-top" src="https://farm66.staticflickr.com/65535/52609687970_fc03d7497b_m.jpg">
              <div class="card-body">
                <p class="card-text">Hi! I'm Brian and I...</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href="https://github.com/kevintran87">
              
              <img class="card-img-top" src="https://farm66.staticflickr.com/65535/52608775317_5be09fd9ca_m.jpg">
              <div class="card-body">
                <p class="card-text">Hi! I'm Kevin and I'm brand new to coding! I spent the last 12 years in the medical field and wanted to try something new. I live to travel and I travel to eat! Check out my Github!</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>