  <div class="wrapper">
    <main>
      <div class="toolbar">
        <div class="toggle">
          <div class="toggle__option">week</div>
          <div class="toggle__option toggle__option--selected">month</div>
        </div>
        <div class="current-month">June 2016</div>
        <div class="search-input">
          <input type="text" value="What are you looking for?">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="calendar">
        <div class="calendar__header">
          <div>sun</div>
          <div>mon</div>
          <div>tue</div>
          <div>wed</div>
          <div>thu</div>
          <div>fri</div>
          <div>sat</div>
        </div>
        {{#each dates as |date|}}
        <div class="calendar__week">
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
        </div>
        {{/each}}
      </div>
    </main>
    <sidebar>
      <div class="logo">logo</div>
      <div class="avatar">
        <div class="avatar__img">
          <img src="https://picsum.photos/70" alt="avatar">
        </div>
        <div class="avatar__name">{{user.first_name}} {{user.last_name}}</div>
      </div>
      <nav class="menu">
        <a class="menu__item" href="/user-home">
          <i class="menu__icon fa fa-home"></i>
          <span class="menu__text">Application Home</span>
        </a>
        <a class="menu__item" href="/dashboard/trips">
          <i class="fa-regular fa-chart-network"></i>
          <span class="menu__text">Trips</span>
        </a>
        <a class="menu__item menu__item--active" href="/dashboard">
          <i class="menu__icon fa fa-calendar"></i>
          <span class="menu__text">Calendar</span>
        </a>
        <!--- insert weather -->
        <a class="menu__item" href="/dashboard/weather">
          <i class="fa-solid fa-sun"></i>
          <span class="menu__text">Weather</span>
        </a>
      </nav>
      <div class="copyright">copyright &copy; 2018</div>
    </sidebar>
  </div>

  <script src="./assets/js/dashboard.js"></script>