<head>
  <link href="/assets/css/faq.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title>FAQs</title>

</head>

<section>
  <h1 class="faq-heading">Commonly Asked Questions</h1>
  <section class="faq-container">
    <div class="faq-one">
      <!-- faq question -->
      <h2 class="faq-q faq-page faq-q-blue"> <i class="uil uil-comment-question"></i>How many people can this
        planner support?
        {{!-- <button id="answer-btn" data-target="#answer-q1" class="faq-btn">
          <i class="uil uil-arrow-down faq-arrow"></i>
        </button> --}}
        <p>As many as possible</p>
      </h2>
    </div>
    <hr class="hr-line text-info">

    <div class="faq-q faq-two">
      <!-- faq question -->
      <h2 class="faq-q faq-page faq-q-blue"> <i class="uil uil-comment-question"></i>What kind of budget functions are
        accessible?
         {{!-- <button id="answer-btn" data-target="#answer-q1" class="faq-btn">
          <i class="uil uil-arrow-down faq-arrow"></i>
        </button> --}}
        <p>A personal daily budget can be viewed through the personal dashboard widget, and a total trip budget can be
          seen in the individual trip section after accessing trips overview.</p>
      </h2>
      <!-- faq answer -->
      {{!-- <div class="faq-body">
        
      </div> --}}
    </div>
    <hr class="hr-line text-info">
    <div class="faq-three">
      <!-- faq question -->
      <h2 class="faq-q faq-page faq-q-blue">
        <i class="uil uil-comment-question"></i>Does this website provide recommendations for activities or links for
        booking?
         {{!-- <button id="answer-btn" data-target="#answer-q1" class="faq-btn">
          <i class="uil uil-arrow-down faq-arrow"></i>
        </button> --}}
        <p>Currently our system is not equipped to provide recommendations however we may add this feature in a later
          version for users to compare prices.
        </p>
      </h2>
      <!-- faq answer -->
      {{!-- <div class="faq-body">
        
      </div> --}}
    </div>
    <hr class="hr-line text-info">
    <div class="faq-four">
      <!-- faq question -->
      <h2 class="faq-q faq-page faq-q-blue"> <i class="uil uil-comment-question"></i>How does this app help me budget
        for vacations? 
         {{!-- <button id="answer-btn" data-target="#answer-q1" class="faq-btn">
          <i class="uil uil-arrow-down faq-arrow"></i>
        </button> --}}
        <p>We help you to easily create a trip where you can input your projected spendings for the trip.</p>
      </h2>
      <!-- faq answer -->
      {{!-- <div class="faq-body">
      </div> --}}
    </div>
  </section>
</section>

<script href="./assets/js/faq.js"></script>