<!--strata header and body in 50:50 view for homepage content -->
<header id="header">
    <div class="inner">
        <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
        <h1>
            <strong>APP NAME</strong>, is the only <br />
            application we will ever <br />
            need for planning trips.<br />
        </h1>
    </div>

</header>
<!--main body containing intro video and sign up button --> 
<div>
<section id="header">
    <div class="introVid" src=""> </div>
    <!--button linked to singup html-->
    <a><buttton> Sign up</buttton> </a>
</section>
<section id="two">
    <h2>Features</h2>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <!--TODO: insert 4 thumbnails of function demo screenshots here -->
								<a href="" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
								<h3>nailthumb of budgeting module</h3>
								<p>Designed help budget for an event. </p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
								<h3>nailthumb of friends module</h3>
								<p>Add a friend to the event and collaborate together!</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
								<h3>nailthumb of weathers module/h3>
								<p>Know the weather forecast beforehand to plan for a good day!</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="" class="image fit thumb"><img src="images/thumbs/04.jpg" alt="" /></a>
								<h3>nailthumb of calender module</h3>
								<p>Colorblock timeblock stunningly displays your schedule</p>
							</article>
    </div>
</section>

</div>
<!-- bottom tab containg demo function featuring --> 
