<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
    <!--navigation bar starts here-->
    <nav id="nav">
        <ul>
            <li><a href="#" class="button">Sign Up</a></li>
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="#" class="icon solid fa-angle-down">About us</a>
                <a href="#" class="icon solid fa-angle-down">Faqs</a>
                <ul>
                    <li><a href="generic.html">Contact</a>
                        <ul>
                            <li><a href="#">email</a></li>
                            <li><a href="#">phone</a></li>
                            <li><a href="#">social</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">career</a></li>
                    <li><a href="elements.html">contribute</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <header>
        <!--information about our organization-->
        <section id="banner">
            <h2>Group Travel Planner</h2>
            <!--detail of app, can be editted. pls edit LOL  -->
            <p>
                Not a calender app, or a planner app; not for socializing or scheduling. It is all of the above.
            </p>
            <ul class="actions special">
                <li><a href="#" class="button primary">Log in</a></li>
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </section>

    </header>
    <main>

        {{{body}}}
    </main>
    <!-- render the contents of the sub layout here-->
    <!--copyright, socialmedia information/contact us link-->

    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <!--TODO: link to github-->
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <!--TODO: link to email -->
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; sickOfOurCodes!</li>
                <li>Design: cool coders club.</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>