<head>
  <link rel="stylesheet" href="./assets/css/sampleWeather.css">
</head>

<body>
  <main class="container-fluid">
    <div class="row">
      <!-- Search section takes up 1/4 of the page -->
      <section class="col-3 align-self-start search container">
        <div class="row">
          <h2>Search for a City: </h2>
          <input type="text" name="city" id="cityInput">
          <button id="searchBtn">Search</button>
          <!-- Allows users to select what type of units they would like to see -->
          <h3 class="row" id="unitText">What type of units would you like to see?</h3>
          <select class="form-select units" aria-label="Default select example">
            <option selected>What kind of units?</option>
            <option value="metric">metric</option>
            <option value="imperial">imperial</option>
            <option value="standard">standard</option>
          </select>
          <div class="row container justify-content-center" id="searchHistory"></div>
        </div>
      </section>
      <!-- Weather section takes up nearly 3/4 of the page -->
      <section class="col-8 align-self-end container-fluid">
        <!-- Section for current weather info -->
        <section class="row bg-info bg-gradient" id="cityCard">
          <div class="row" id="nameDate">
            <h2 class="col-5" id="cityName">City </h2>
            <h2 class="col-5" id="cityDate">Date</h2>
            <img class="col-2" id="cityPic" src="" alt="">
          </div>
          <p>Temp: <span id="cityTempCur"></span></p>
          <p>Wind: <span id="cityWindCur"></span></p>
          <p>Humidity: <span id="cityHumCur"></span></p>
        </section>
        <!-- Creates 5 cards that take up 1/6 of the width to ensure some space between -->
        <section class="row justify-content-between" id="forecast">
          <h3 id="forecastCardTitle">5-Day Forecast: </h3>
          <section class="dateCard bg-primary text-white col-2" bg-primary id="day1Card">
            <h4 id="day1"></h4>
            <img id="cityPic1" src="" alt="">
            <p>Temp: <span id="cityTemp1"></span></p>
            <p>Wind: <span id="cityWind1"></span></p>
            <p>Humidity <span id="cityHumidity1"></span></p>
          </section>
          <section class="dateCard bg-primary text-white col-2" id="day2Card">
            <h4 id="day2"></h4>
            <img id="cityPic2" src="" alt="">
            <p>Temp: <span id="cityTemp2"></span></p>
            <p>Wind: <span id="cityWind2"></span></p>
            <p>Humidity <span id="cityHumidity2"></span></p>
          </section>
          <section class="dateCard bg-primary text-white col-2" id="day3Card">
            <h4 id="day3"></h4>
            <img id="cityPic3" src="" alt="">
            <p>Temp: <span id="cityTemp3"></span></p>
            <p>Wind: <span id="cityWind3"></span></p>
            <p>Humidity <span id="cityHumidity3"></span></p>
          </section>
          <section class="dateCard bg-primary text-white col-2" id="day4Card">
            <h4 id="day4"></h4>
            <img id="cityPic4" src="" alt="">
            <p>Temp: <span id="cityTemp4"></span></p>
            <p>Wind: <span id="cityWind4"></span></p>
            <p>Humidity <span id="cityHumidity4"></span></p>
          </section>
          <section class="dateCard bg-primary text-white col-2" id="day5Card">
            <h4 id="day5"></h4>
            <img id="cityPic5" src="" alt="">
            <p>Temp: <span id="cityTemp5"></span></p>
            <p>Wind: <span id="cityWind5"></span></p>
            <p>Humidity <span id="cityHumidity5"></span></p>
          </section>
        </section>
      </section>
    </div>
  </main>
  <script href="./assets/js/weather.js"></script>
</body>