<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/w3-theme-black.css"
    />
</head>

<div class="row">
  <div class="column">
    <ol>
      <li>Activity Name</li>
      {{#each budgets as |budget|}}
      <li>{{budget.activity_name}}</li>
      {{/each}}
      <li>Total</li>
    </ol>
  </div>
  <div class="column">
    <ol>
      <li>Amount</li>
      {{#each budgets as |budget|}}
      <li>{{budget.amount}}</li>
      {{/each}}
      <li><span id="total"></span></li>
    </ol>
  </div>
</div>

<script src="/assets/js/totalBudget.js"></script>