<head>
  <title>My Trips</title>
  <!--link for CSS framework -->
  <!--link for google font  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
</head>

<body>
  <!-- header -->
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-center w3-padding-16"><i class="uil uil-car-sideview"></i>My Trips</div>
  </div>


  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <div class="w3-row-padding w3-padding-16 w3-center" id="trips">
      <div class="w3-container w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
          {{#each trips as |trip|}}
          <!-- add link to click into it to go to trip--> 
          <li class="w3-black w3-xlarge w3-padding-32"><a class="w3-hover" href="/Dashboard/trips/trip/{{trip.id}}">{{trip.trip_name}}</a></li>
          <li class="w3-padding-16">{{trip.description}}</li>
          <li class="w3-padding-16">{{trip.location}}</li>
        </ul> 
              </div> 
              <!-- {{/each}} -->
          </div>
        </div>

        <!-- Pagination -->
        {{!-- <div class="w3-center w3-padding-32">
          <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
          </div>
        </div> --}}
        <!--secton for tags -->
        <!-- <div class="w3-third w3-serif">
                <h3>POPULAR TAGS</h3>
                <p>
                  <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
                  <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
                  <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
                  <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
                  <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
                </p>
              </div> -->

        <!-- End page content -->
      </div>
      <div>
        {{>createTrip}}
      </div>

      <script>
        // Script to open and close sidebar
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }
      </script>
</body>


</html>