@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

* { box-sizing: border-box; }

.container {
    display: block;
    flex-flow: column wrap;
    margin-top: 20px;
}

.card-wrap {
    flex: 0 0 100%;
    display: flex;
    padding: 10px;
}

.card {
    box-shadow: none;
    flex: 0 0 100%;
    border: none;
    margin: 20px 0;
}

.card-img-top {
    display: inline-block;
    width: 100%;
    height: 15vw;
    object-fit: cover;
    padding: 20px;

}


.card-body {
    padding-top: 0px;
}

.card-title {
    font-size: 400%;
    font-family: 'EB Garamond', serif;
}

.card-text {
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
    color:black;
    text-decoration: none;
}

.description_about {
    text-decoration: none;

}

section {
    width: 100%;
    height: 60vh;
    text-align: center;
    text-decoration: none;
  }