* { box-sizing: border-box; }

.container { 
  display: flex; 
  flex-flow: row wrap;
}

.card-wrap {
  flex: 0 0 33.333%;
  display: flex;
  padding: 10px; /* gutter width */
}

.card {
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  flex: 0 0 100%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.card-wrap {
    flex: 0 0 33.333%;
    display: flex;
    padding: 10px;
}

.card {
    box-shadow: 0 0 4px rgba(0,0, 0, 0.4);
    flex: 0 0 100%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    padding: 20px;
}


.card-body {
    padding-top: 0px;
}

.description_about {
    text-decoration: none;

}

section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }